@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Press+Start+2P&family=Zilla+Slab:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

html,
body {
    padding: 0;
    margin: 0;
}

body {
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeOut{
    100%{
        opacity:0;
        visibility: hidden;
    }
}

.loader{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #212529;
    
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.loader > img {
    position:absolute;
    width: 4rem;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.head {
    width: 100%;
    max-width: 47rem;
    padding: 1rem 0 0;
    margin: 1rem auto;
}

.head-logo {
    margin: 1rem auto;
    max-width: 60%;
}

.head-logo-label {
    font-family: 'Press Start 2P', cursive;
    color: #f03e3e;
}

@supports (display: flex) {
    .head-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head-logo-image {
        display: block;
        width: 4rem;
    }

    .head-logo-label {
        font-size: 2rem;
        padding-left: 8px;
    }

    @media (min-width: 48rem) {
        .head-logo {
            margin: 4rem auto;
            max-width: 80%;
        }

        .head-logo-image {
            display: block;
            width: 8rem;
        }

        .head-logo-label {
            font-size: 4rem;
            padding-left: 24px;
        }
    }
}

