.places,
.packages,
.testimonials {
    max-width: 27rem;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 48rem) {
    .places,
    .packages,
    .testimonials {
        max-width: 65rem;
    }
}

.welcomes {
    max-height: 100vh; 
    height: 100%;
    margin: 0;
    background: no-repeat bottom 0 left 0 / 100%
        url('assets/images/Walcome-Background-1x.png');
}

@media (min-width: 48rem) {
    .welcomes {
        max-height: calc(100vh - 6rem);
        margin: 6rem 0 0;
    }
}

.welcome-title {
    padding-top: calc(40vh - 2rem);
    margin: 0;

    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    color: #212529;
    font-size: 1.8rem;
}

@media (min-width: 48rem) {
    .welcome-title {
        padding-top: calc(38vh - 6rem);
        font-size: 4rem;
    }
}

.places,
.packages,
.testimonials {
    margin-top: 15%;
}

.places-info-title,
.package-info-title,
.testimonial-info-title {
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    color: #212529;
    margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
    .places-info-title,
    .package-info-title,
    .testimonial-info-title {
        font-size: 3rem;
        letter-spacing: 0.5px;
    }
}

.places-info-text,
.package-info-text,
.testimonial-info-text {
    color: #343a40;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.25rem;
}

@media (min-width: 48rem) {
    .places-info-text,
    .package-info-text,
    .testimonial-info-text {
        color: #343a40;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.25rem;
    }
}

.place-cards,
.package-cards,
.testimonial-cards {
    width: 100%;
    margin-top: 2rem;
}

@media (min-width: 48rem) {
    .place-cards,
    .package-cards,
    .testimonial-cards {
        margin-top: 4rem;
    }
}

.place-card {
    display: block;
    transform: translateY(0);
    width: 80%;
    overflow-x: hidden;
    padding-bottom: 1rem;
    border-radius: 8px;
    margin: 2rem auto 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 48rem) {
    .place-card {
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }

    .place-card:nth-child(2) {
        margin: 6rem 2.6% 0;
    }

    div.place-card:nth-child(3) {
        margin: 12rem 0 0 0;
    }
}

.place-card:hover,
.place-card:active {
    transform: translateY(-2rem);
    transition: transform 0.2s ease-out 0.2s;
}

.card-image {
    width: 100%;
    overflow: hidden;
}

.place-card-title,
.place-card-link {
    margin: 0 0.5rem;
}

.place-card-title {
    font-size: 1.25rem;
    color: #495057;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 48rem) {
    .place-card-title {
        font-size: 2.25rem;
    }
}

.place-card-link {
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 700;
    color: #1864ab;
}

@media (min-width: 48rem) {
    .place-card-link {
        font-size: 1.5rem;
    }
}

.place-card-link:hover,
.place-card-link:active {
    border-bottom: 3px solid #1864ab;
}

@media (min-width: 48rem) {
    .place-card-link:hover,
    .place-card-link:active {
        border-width: 4px;
    }
}

.package-cards {
    width: 100%;
    height: 100%;
}

.package-card {
    width: 50%;
    display: block;
    text-align: center;
    padding: 0.5rem 0 2%;
    border-radius: 8px;
    margin: 3rem auto 0;
    background-color: #a5d8ff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 48rem) {
    .package-card {
        width: 28%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 1rem 0 2%;
        margin: 0 7%;
    }

    .package-card:nth-child(2n + 1) {
        margin: 0;
        margin-top: 6rem;
    }
}

.package-card-link {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #1864ab;
    text-decoration: none;
}

@media (min-width: 48rem) {
    .package-card-link {
        font-size: 1.5rem;
    }
}

.package-card:hover,
.package-card:active {
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.package-card-link img {
    display: block;
    max-width: 300px;
    width: 40%;
    margin: 0.9rem auto;
}

.package-card:nth-child(2) > .package-card-link > img {
    transform: scale(0.85);
}

@media (min-width: 48rem) {
    .package-card-link img {
        display: block;
        max-width: 300px;
        width: 80%;
        margin: 0.9rem auto;
    }

    .package-card:nth-child(2) > .package-card-link > img {
        transform: scale(0.85);
    }
}

.testimonial {
    display: block;
    width: 80%;
    min-height: 22.5rem;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #a5d8ff;
}

.testimonial:nth-child(2n + 1) {
    background-color: #d0ebff;
}

@media (min-width: 48rem) {
    .testimonial {
        display: inline-block;
        vertical-align: middle;
        width: calc(30% - 2rem);
        margin: 0 2.5%;
    }

    .testimonial:nth-child(2n + 1) {
        min-height: 24rem;
        margin: 0;
        background-color: #d0ebff;
    }
}

.testimonial-photo {
    display: block;
    width: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 5% auto 1rem;
}

@media (min-width: 48rem) {
    .testimonial-photo {
        display: block;
        width: 50%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin: 5% auto 1rem;
    }
}

.testimonial > h2,
.testimonial > h3 {
    text-align: center;
}

.testimonial-name {
    font-size: 1.25rem;
    color: #212529;
    margin: 1rem 0 0 0;
    padding: 0 1rem;
}

.testimonial-profession {
    font-size: 0.8rem;
    color: #212529;
    margin: 0.5rem 0 0.8rem 0;
    padding: 0 1rem;
}

.testimonial-text {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    padding: 0.8rem 1rem;
}

@media (min-width: 48rem) {
    .testimonial-name {
        font-size: 1.5rem;
        color: #212529;
        margin: 1rem 0 0 0;
        padding: 0 1rem;
    }

    .testimonial-profession {
        font-size: 1.125rem;
        color: #212529;
        margin: 0.5rem 0 0.8rem 0;
        padding: 0 1rem;
    }

    .testimonial-text {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 500;
        padding: 0.8rem 1rem;
    }
}
