.regions {
    max-width: 1077px;
    margin: 0 auto;
}

.region {
    margin-top: 15%;
    height: 85%;
}

#region-barat-photos {
    width: 90%;
    margin: 0 auto;
    background: no-repeat url('../assets/images/barat-semeru-075x.png') 5% 50% /
            30%,
        no-repeat url('../assets/images/barat-bromo-075x.png') 50% 50% / 40%,
        no-repeat url('../assets/images/barat-jomblang-075x.png') 95% 50% / 30%;
    height: 10rem;
    padding: 0.5rem;
}

#region-tengah-photos {
    width: 90%;
    margin: 0 auto;
    background: no-repeat url('../assets/images/tengah-nusa-penida-075x.png') 5%
            50% / 30%,
        no-repeat url('../assets/images/tengah-agung-075x.png') 35% 50% / 40%,
        no-repeat url('../assets/images/tengah-komodo-075x.png') 70% 50% / 40%,
        no-repeat url('../assets/images/tengah-rinjani-075x.png') 95% 50% / 30%;
    height: 10rem;
    padding: 0.5rem;
}

#region-timur-photos {
    width: 90%;
    margin: 0 auto;
    background: no-repeat url('../assets/images/timur-raja-ampat-075x.png') 40%
            50% / 10rem,
        no-repeat url('../assets/images/timur-puncak-jayawijaya-075x.png') 65%
            50% / 8rem;
    height: 10rem;
    padding: 0.5rem;
}

@media (min-width: 48rem) {
    #region-barat-photos {
        width: 70%;
        margin: 0 auto;
        background: no-repeat url('../assets/images/barat-semeru-075x.png') 0%
                50% / 16rem,
            no-repeat url('../assets/images/barat-bromo-075x.png') 45% 50% /
                18rem,
            no-repeat url('../assets/images/barat-jomblang-075x.png') 90% 50% /
                16rem;
        height: 20rem;
        padding: 2rem;
    }

    #region-tengah-photos {
        width: 70%;
        margin: 0 auto;
        background: no-repeat
                url('../assets/images/tengah-nusa-penida-075x.png') 0 50% /
                16rem,
            no-repeat url('../assets/images/tengah-agung-075x.png') 35% 50% /
                18rem,
            no-repeat url('../assets/images/tengah-komodo-075x.png') 70% 50% /
                18rem,
            no-repeat url('../assets/images/tengah-rinjani-075x.png') 100% 50% /
                16rem;
        height: 20rem;
        padding: 2rem;
    }

    #region-timur-photos {
        width: 70%;
        margin: 0 auto;
        background: no-repeat url('../assets/images/timur-raja-ampat-075x.png')
                25% 50% / 18rem,
            no-repeat url('../assets/images/timur-puncak-jayawijaya-075x.png')
                65% 50% / 16rem;
        height: 20rem;
        padding: 2rem;
    }
}

.region-photos:hover,
.region-photos:active {
    transform: scale(1.1);
    transition: transform ease-in-out 0.2s 0.2s;
}

.region-infos {
    max-width: 47rem;
    margin: 0 auto;
}

.region-infos-destination {
    width: 100%;
    margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
    .region-infos-destination {
        max-width: 46rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.region-info-name {
    color: #343a40;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}

.region-info-location {
    color: #212529;
    font-size: 1.5rem;
    margin: 0;
}

@media (min-width: 48rem) {
    .region-info-name {
        font-size: 2.25rem;
    }

    .region-info-location {
        font-size: 4rem;
    }
}

.region-info-places {
    list-style: none;
    padding: 0;
}

.region-info-place {
    padding: 0.2rem 0;
}

.region-info-place a {
    text-decoration: none;
    color: #1864ab;
    font-weight: 700;
    font-size: 0.8rem;
}

@media (min-width: 48rem) {
    .region-info-place a {
        font-size: 1.5rem;
    }
}

.region-info-place a:hover,
.region-info-place a:active {
    border-bottom: 2px solid #1864ab;
}

.available-packages {
    position: relative;
    overflow: hidden;
    background-color: #d0ebff;
    /* max-width: 10rem; */
    width: 100%;
    height: 6rem;
    padding-top: 2.2rem;
    border-radius: 8px;
}

@media (min-width: 48rem) {
    .region-info-place a:hover,
    .region-info-place a:active {
        border-width: 4px;
    }

    .available-packages {
        position: relative;
        overflow: hidden;
        background-color: #d0ebff;
        height: 12rem;
        padding-top: 3.2rem;
        border-radius: 8px;
        margin: 0 auto;
    }
}

.available-badge {
    position: absolute;
    top: 0.8rem;
    right: -2.4rem;
    width: 8rem;
    background-color: #1864ab;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #f8f9fa;
    text-align: center;
    padding: 0.2rem;
    transform: rotate(40deg);
}

@media (min-width: 48rem) {
    .available-badge {
        position: absolute;
        top: 1rem;
        right: -2.8rem;
        width: 10rem;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

p.available-package {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    color: #212529;
    width: 76%;
    margin: 0.2rem auto;
}

.available-packages > button {
    position: absolute;
    bottom: 8%;
    left: 12%;
    width: 70%;
    font-size: 0.8rem;
    padding: 0.2rem;
    border: 2px solid #212529;
}

@media (min-width: 48rem) {
    p.available-package {
        position: relative;
        /* top: 30%; */
        font-size: 1.5rem;
        margin: 0.2rem auto;
    }

    .available-packages > button {
        bottom: 10%;
        width: 72%;
        font-size: 1.5rem;
        border: 4px solid #212529;
        margin: 0 auto;
    }
}
