.package-detail {
    width: 80%;
    padding: 2rem;
    margin: 30% auto 0;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 48rem) {
    .package-detail {
        width: 75%;
        padding: 3rem;
        margin: 12rem auto 0;
        border-radius: 16px;
    }
}

.detail-intro-img {
    display: block;
    max-width: 5rem;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 48rem) {
    .detail-intro-img {
        max-width: 10rem;
    }
}

.detail-intro-title {
    font-size: 1.8rem;
    color: #228be6;
    text-align: center;
    margin: 1rem 0 0 0;
}

@media (min-width: 48rem) {
    .detail-intro-title {
        font-size: 3rem;
        margin: 2rem 0 0 0;
    }
}

.detail-intro-text {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
    color: #495057;
    margin: 0.5rem auto 0;
}

@media (min-width: 48rem) {
    .detail-intro-text {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0.8rem auto 0;
    }
}

.detail-price {
    margin-top: 1.6rem;
    text-align: center;
    width: 100%;
}

@media (min-width: 48rem) {
    .detail-price {
        margin-top: 3rem;
    }
}

.detail-text {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #495057;
    margin: 0.2rem 0 0 0;
}

@media (min-width: 48rem) {
    .detail-text {
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
}

.detail-price-range {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 0.6rem 0 0 0;
}

@media (min-width: 48rem) {
    .detail-price-range {
        font-size: 2.25rem;
    }
}

.includes-applies {
    width: 70%;
    margin: 0 auto;
}

.detail-include {
    padding: 0;
    margin: 0;
}

.detail-includes,
.detail-applies {
    margin: 1rem auto 0;
    width: 100%;
}

@media (min-width: 48rem) {
    .detail-includes,
    .detail-applies {
        margin: 2rem auto 0;
        max-width: 42rem;
        width: 35%;
    }

    .detail-applies > p.detail-text{
        width: 100%;
        display: block;
    }
}

.detail-item {
    position: relative;
    left: 8%;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 auto;
}

@media (min-width: 48rem) {
    .detail-item {
        left: -2%;
        width: 16rem;
        font-size: 1.25rem;
    }
}

.detail-include,
.detail-applies > p:nth-child(2) {
    margin-top: 0.2rem;
}

@media (min-width: 48rem) {
    .detail-include,
    .detail-applies > p:nth-child(2) {
        margin-top: 1rem;
    }
}

.detail-applies > button#join-cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    border-width: 2px;
    margin: 1.5rem auto 0;
}

@media (min-width: 48rem) {
    .detail-applies > button#join-cta {
        font-size: 1.5rem;
        border-width: 4px;
    }
}
